<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Nuevo producto</h1>
    <form method="post" action="#"
          th:action="@{/submit}"
          th:object="${producto}">

        <input type="hidden"
               id="identificador"
               th:field="*{id}" />

        <input type="text"
               id="nombre" placeholder="Nombre"
               th:field="*{nombre}" />

        <input type="number"
               id="cantidad" placeholder="1"
               th:field="*{cantidad}" />

        <input type="text"
               id="observaciones" placeholder="Observaciones"
               th:field="*{observaciones}" />

        <input type="submit"
               value="Enviar" />

    </form>
</body>
</html>